.box {
    display: flex;
  }

.text-blog {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    flex: 0 0 33.333333%; /* Chaque colonne prend un tiers de la largeur du conteneur */
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.article {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px; /* Espacement entre les lignes */
    /* Style de votre article, ajustez comme nécessaire */
}

.article img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article .p-5 {
    padding: 20px;
}


/* Ajoutez d'autres styles ici selon vos besoins */

.bodyAbout {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.about-container {
    width: 80%;
    max-width: 800px;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.subheading {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2em;
}

.h2About {
    color: #333333;
    margin-bottom: 1em;
}

.pAbout {
    font-size: 1em;
    line-height: 1.6;
    color: #555555;
    margin-bottom: 1em;
}


.contact-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-subtitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.form-textarea {
    height: 150px;
    resize: vertical;
}